<!-- checkout.component.html -->
<section class="bg-light">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col">
                <div class="card">
                    <div class="card-body p-4">
                        <div class="row">
                            <div class="col-lg-7">
                                <h5 class="mb-3">
                                    <a routerLink="/Menu"
                                        class="text-body text-decoration-none d-flex align-items-center">
                                        <i class="bi bi-arrow-left me-2"></i> Continue shopping
                                    </a>
                                </h5>
                                <hr>
                                <div class="d-flex justify-content-between align-items-center mb-4">
                                    <div>
                                        <h4 class="mb-1 ">Shopping cart</h4>
                                        <p class="mb-0">You have {{itemCount}} items in your cart</p>
                                    </div>
                                </div>

                                <div class="card mb-3" *ngFor="let item of cartItems let i = index">
                                    <div class="card-body">
                                        <div class="d-flex justify-content-between">
                                            <div class="d-flex flex-row align-items-center">
                                                <div>
                                                    <!-- <img [src]="item.image" class="img-fluid rounded-3"
                                                        alt="Shopping item" style="width: 65px;"> -->
                                                    <img src="/assets/img/menu.jpg" class="i
                                                        mg-fluid rounded-3" alt="Shopping item" style="width: 65px;">
                                                </div>
                                                <div class="ms-3">
                                                    <h5>{{ item.menu.name}}</h5>
                                                    <p class="small mb-0">{{ item.menu.Description }}</p>
                                                </div>
                                            </div>
                                            <div class="d-flex flex-row align-items-center">
                                                <div style="width: 40px;">
                                                    <h5 class="fw-normal mb-0">*{{ item.quantity }}</h5>
                                                </div>
                                                <div style="width: 85px;">
                                                    <h5 class="mb-0 fs-6">Rs. {{ item.menu.Price }}</h5>
                                                </div>
                                                <a (click)="removeItem(i)">
                                                    <i class="bi bi-trash btn hover-dark"></i>
                                                </a>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-5">
                                <div class="card bg-dark text-white rounded-3">
                                    <div class="card-body">
                                        <div class="d-flex justify-content-between align-items-center mb-4">
                                            <h5 class="mb-0">Order details</h5>
                                        </div>

                                        <form [formGroup]="orderForm" class="mt-4" (ngSubmit)="checkout()">
                                            <div class="form-outline form-white mb-4">
                                                <input type="text" formControlName="name"
                                                    class="form-control form-control-md" placeholder="Your name" />
                                                <label>Your name</label>
                                                <div
                                                    *ngIf="orderForm.get('name')?.invalid && (orderForm.get('name')?.dirty || orderForm.get('name')?.touched)">
                                                    <small class="text-danger"
                                                        *ngIf="orderForm.get('name')?.errors?.['required']">name is
                                                        required</small>
                                                </div>
                                            </div>

                                            <div class="form-outline form-white mb-4">
                                                <input type="text" formControlName="address"
                                                    class="form-control form-control-md" placeholder="Enter address" />
                                                <label>Your address</label>
                                                <div
                                                    *ngIf="orderForm.get('address')?.invalid && (orderForm.get('address')?.dirty || orderForm.get('address')?.touched)">
                                                    <small class="text-danger"
                                                        *ngIf="orderForm.get('address')?.errors?.['required']">address
                                                        is required</small>
                                                </div>
                                            </div>

                                            <div class="form-outline form-white mb-4">
                                                <input type="text" formControlName="phone"
                                                    class="form-control form-control-md"
                                                    placeholder="Enter Phone Number" />
                                                <label>Phone Number</label>
                                                <div
                                                    *ngIf="orderForm.get('phone')?.invalid && (orderForm.get('phone')?.dirty || orderForm.get('phone')?.touched)">
                                                    <small class="text-danger"
                                                        *ngIf="orderForm.get('phone')?.errors?.['required']">Phone
                                                        Number is required</small>
                                                </div>
                                            </div>

                                            <hr class="my-4">
                                            <div class="d-flex justify-content-between">
                                                <p class="mb-2 ">Subtotal</p>
                                                <p class="mb-2">Rs. {{ getSubtotal() }}</p>
                                            </div>

                                            <div class="d-flex justify-content-between">
                                                <p class="mb-2">Shipping</p>
                                                <p class="mb-2">Rs. {{delivery_cost}}</p>
                                            </div>

                                            <div class="d-flex justify-content-between mb-4">
                                                <p class="mb-2">Total(Incl. taxes)</p>
                                                <p class="mb-2">Rs. {{ getTotal()}}</p>
                                            </div>

                                            <button type="submit" [disabled]="orderForm.invalid" class="btn btn-danger btn-sm">Checkout</button>

                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>